<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UltimateFishBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <UltimateFishBot.Properties.Settings>
            <setting name="ScanningStepsLow" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ScanningDelayLow" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="ScanningRetries" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CastingDelayLow" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="LootingDelayLow" serializeAs="String">
                <value>2600</value>
            </setting>
            <setting name="SplashLimit" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProcName" serializeAs="String">
                <value>Wow</value>
            </setting>
            <setting name="AutoLure" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHearth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwapGear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseAltKey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FishKey" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LureKey" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HearthKey" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FishGearKey" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NormGearKey" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HearthTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="RaftKey" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CharmKey" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AutoRaft" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCharm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShiftLoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FishWaitLow" serializeAs="String">
                <value>21500</value>
            </setting>
            <setting name="AudioDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoBait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CycleThroughBaitList" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BaitKey1" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="BaitKey2" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="BaitKey3" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BaitKey4" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BaitKey5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaitKey6" serializeAs="String">
                <value>)</value>
            </setting>
            <setting name="BaitKey7" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="CheckCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LureTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RaftTime" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="CharmTime" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="BaitTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AntiAfk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AntiAfkTime" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AntiAfkMoves" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlternativeRoute" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="minScanXY" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="maxScanXY" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="customScanArea" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartStopHotKey" serializeAs="String">
                <value>Ctrl+Shift+S</value>
            </setting>
            <setting name="Txt2speech" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AverageSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorCaptureHotKey" serializeAs="String">
                <value>Alt+Shift+C</value>
            </setting>
            <setting name="RightClickCast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CastingDelayHigh" serializeAs="String">
                <value>1800</value>
            </setting>
            <setting name="LootingDelayHigh" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="FishWaitHigh" serializeAs="String">
                <value>22200</value>
            </setting>
            <setting name="ScanningDelayHigh" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="ScanningStepsHigh" serializeAs="String">
                <value>30</value>
            </setting>
        </UltimateFishBot.Properties.Settings>
    </userSettings>
</configuration>
